/* Overall style */
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  /* Subtle gray background color */
}


#root {
  max-width: 1300px;
  /* Increase max width to 1600px */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.todo-container {
  background-color: #d3d3d3;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
  width: 100%;
  /* Set width to 100% */
  max-width: 1200px;
  /* Set max width to 1200px */
  margin: 1em;
  /* Centered */
  box-sizing: border-box;
  /* Includes padding and border */
}


select,
input [type='text'],
button [type='submit'] {
  width: 95%;
  margin: 0.5em 0;
  padding: 0.75em;
  /* Increase padding */
  font-size: 1.2em;
  /* Increase font size */
  border: 1px solid #ccc;
  border-radius: 5px;
}


button[type='submit'] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 35%;
  font-size: 1.2em;
  padding: 0.5em 1em;
}


button[type='submit']:hover {
  background-color: #0056b3;
}


ul {
  list-style: none;
  padding: 0;
  width: 100%;
  /* Set width to 100% */
}


li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  /* Set background color to white */
  padding: 1em;
  /* Increase padding */
  margin: 1em 0;
  /* Increase margin */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
  /* Add list item shadow */
  width: 100%;
  /* Set width to 100% */
  box-sizing: border-box;
  /* Includes padding and border */
}


li input [type='text'] {
  flex-grow: 1;
  margin-right: 1em;
  border: 1px solid #ccc;
  /* Add border */
  border-radius: 5px;
  /* Rounded border corners */
  background: #fff;
  /* Set background color to white */
  outline: none;
  font-size: 1.2em;
  /* Increase font size */
  padding: 0.5em;
  /* Add padding */
  box-sizing: border-box;
  /* Include padding and border */
}


li input [type='checkbox'] {
  margin-right: 1em;
  transform: scale (1.5);
  /* Make the checkbox bigger */
}


li button {
  padding: 0.3em 0.6em;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}


li button:hover {
  background-color: #c82333;
}


button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}